@import "../../styles/vars.scss";
.button {
  background-color: $--clr-light-blue;
  padding: 10px 30px;
  a {
    font-weight: 500;
    color: $--clr-white;
  }
  border-radius: 20px;
  border: none;
  transition: $--tr-filter;
  &:hover {
    filter: brightness(115%);
  }
}
