@import "../../styles/vars.scss";
.button {
  background-color: $--clr-light-blue;
  padding: 10px 30px;
  a {
    font-weight: 500;
    color: $--clr-white;
  }
  border-radius: 20px;
  border: none;
  transition: $--tr-filter;
  box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 1);
  &:hover {
    filter: brightness(115%);
  }
}
