@import "../../styles/vars.scss";
.techs {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .techHeader {
    width: 100%;
  }
  .techItem {
    margin: 5px;
    padding: 15px;
    background-color: $--clr-hover-blue;
    h4 {
      margin-bottom: 0px;
    }
    p {
      margin: 0;
    }
  }
}

.techsAdvanced {
  .techHeader {
    h3 {
      color: $--clr-white;
      background: linear-gradient(
        to top,
        $--clr-light-blue 40%,
        transparent 40%
      );
      background-clip: unset;
    }
  }

  .techItemAdvanced {
    h4 {
      color: $--clr-light-blue;
    }
  }
}

.techsBasic {
  .techHeader {
    h3 {
      color: $--clr-white;
      background: linear-gradient(to top, $--clr-red 40%, transparent 40%);
      background-clip: unset;
    }
  }

  .techItemBasic {
    h4 {
      color: $--clr-red;
    }
  }
}

.techsLookingF {
  .techHeader {
    h3 {
      color: $--clr-white;
      background: linear-gradient(to top, $--clr-green 40%, transparent 40%);
      background-clip: unset;
      padding: 0;
    }
  }

  .techItemLookingF {
    h4 {
      color: $--clr-green;
    }
    h4 {
      margin: 0;
    }
  }
}
