@import "./vars.scss";

// GLOBALS
.mainContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}
.section {
  padding: 50px 20px;
}
.content {
  width: 100%;
}

.darkerText {
  color: $--clr-gray;
}

// INTRO SECTION

.introSec {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

// MEDIA QUERIES

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 95%;
  }
  .introSec {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .mainContainer {
    margin-top: 0px;
    width: 90%;
  }

  .introSec {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .mainContainer {
    width: 80%;
  }

  .introSec {
    grid-template-columns: 6fr 5fr;
  }
}

