@import "./vars.scss";

// GLOBALS
.mainContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}
.section {
  padding: 50px 20px;
}
.content {
  width: 100%;
}

.darkerText {
  color: $--clr-gray;
}

// INTRO SECTION

.introSec {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

// MEDIA QUERIES

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 95%;
  }
  .introSec {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .mainContainer {
    margin-top: 0px;
    width: 90%;
  }

  .introSec {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .mainContainer {
    width: 80%;
  }

  .introSec {
    grid-template-columns: 6fr 5fr;
  }
}
.techs {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .techHeader {
    width: 100%;
  }
  .techItem {
    margin: 5px;
    padding: 15px;
    background-color: $--clr-hover-blue;
    h4 {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
    }
  }
}
.techsAdvanced {
  .techHeader {
    h3 {
      color: $--clr-white;
      background: linear-gradient(
        to top,
        $--clr-light-blue 40%,
        transparent 40%
      );
      background-clip: unset;
    }
  }

  .techItemAdvanced {
    span {
      color: $--clr-light-blue;
    }
  }
}

.techsBasic {
  .techHeader {
    h3 {
      color: $--clr-white;
      background: linear-gradient(to top, $--clr-red 40%, transparent 40%);
      background-clip: unset;
    }
  }

  .techItemBasic {
    span {
      color: $--clr-red;
    }
  }
}
