@import "./vars.scss";

// GLOBALS
.contentContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}
.section {
  padding: 20px;
}
.introContainer {
  position: relative;

  .introImg {
    background-position: center;
    background-size: cover;
  }
  .introText {
    background-image: url("../public/wavebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px;
    h1,
    p {
      display: block;
      text-align: center;
      background-clip: none;
      color: $--clr-white;
      margin: 0;
    }
    .btnContainer {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    p {
      font-style: italic;
    }
  }
}
// MEDIA QUERIES

@media only screen and (min-width: 768px) {
  .contentContainer {
    width: 95%;
  }
}
@media only screen and (min-width: 992px) {
  .contentContainer {
    margin-top: 0px;
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .contentContainer {
    width: 80%;
  }
}
