// colors

$--clr-darkblue: #0f1624;
$--clr-hover-blue: rgb(33, 45, 69);
$--clr-white: #f4f4f4;
$--clr-gray: rgba(#f4f4f4, 0.6);

// fonts

$--font-text-sm: 14px;
$--font-text-md: 16px;
$--font-text-lg: 18px;
$--font-h2-sm: 30px;
$--font-h2-md: 36px;
$--font-h2-lg: 40px;
$--font-h4-sm: 10px;
$--font-h4-md: 12px;
$--font-h4-lg: 14px;

// transition
$--tr-filter: filter 0.2s;
$--tr-all: all 0.2s;
// svg sizes

$--svg-size: 30px;
