@import "../../../styles/vars.scss";
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: relative;
  .logo {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
      margin-bottom: 0;
    }
    img {
      animation: logo-rotation 30s linear infinite;
    }
  }
  .linksContainer {
    position: absolute;
    top: 80px;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 0 5px;
      padding: 10px;
      border-radius: 100px;
      transform: scale(1);
      transition: $--tr-all;
      &:hover {
        background-color: $--clr-hover-blue;
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .navigation {
    .linksContainer {
      position: static;
    }
  }
}

@keyframes logo-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
